<!DOCTYPE html>
<html ng-app="angLocApp">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="/ngOutfit.js"></script>
    <title>Document</title>
    <style></style>
</head>

<body>
    <h1>Gallery</h1>

    <div ng-controller="OutfitListController">
        <div ng-style="imageWrapper" id="wrapper">
            <img ng-style="imageWrap" id="imgWrapper">
            <span ng-click="close()" ng-style="spanX">X</span>
        </div>
        <div ng-style="image_gallery">
            <div ng-repeat="outfit in outfits">
                <img ng-style="image" ng-click="zoom(outfit.img)" ng-src="{{ outfit.img }}">
            </div>

        </div>
</body>

</html>