<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/css/about.css" />
    <meta
      name="viewport"
      content="width=devicewidth, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navigationWrapper">
      <div class="logoWrapper">
        <span class="stylish">WEATHER</span>
        <a href="/Index">
          <span class="logo">Closet</span>
        </a>
      </div>
      <div class="navigation">
        <li class="listitem"><a class="a" href="/Gallery">Gallery</a></li>
        <li class="listitem"><a class="a" href="/About">About</a></li>
      </div>
    </nav>

    <div class="about-section">
      <h1>About Us Page</h1>
      <p>
        Henri and Theresa, a mismatched pair in both fashion and personalities,
        embarked on a mission to design an online closet that recommended
        clothing based on past outfits and current weather conditions. Henri's
        quirky style and Theresa's sophistication clashed as they set out to
        create the ultimate fashion-tech fusion. Their initial disagreement over
        the user interface design resulted in a compromise—a chic, yet eccentric
        online closet, reminiscent of a fancy boutique with a hipster twist.
      </p>
      <p>
        Next came the coding challenge. Henri dubbed the recommendation
        algorithm "WeatherWear," and they fine-tuned it to suggest
        weather-appropriate outfits, preventing humorous mishaps like
        recommending mismatched socks for formal events or snow boots on a sunny
        day. Testing was a hoot, with Henri and Theresa modeling outfits in
        absurd weather scenarios, raising eyebrows from onlookers. The
        catchphrase, "When in WeatherWear, you'll never have a fashion faux pas
        again," brilliantly encapsulated their creation's essence—stylish and
        meteorologically sound.
      </p>
      <p>
        Henri and Theresa, from fashion oddballs to tech trendsetters, left the
        world both stylish and amused.
      </p>
    </div>

    <h2 style="text-align: center">Our Team</h2>
    <div class="row">
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="column">
            <div class="card">
              <img src="/assets/Kofu.png" alt="Jane" style="width: 100%" />
              <div class="container">
                <h2>Therea Hartmann</h2>
                <p class="title">Frontend & Web Design</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="/assets/Luffy.png" alt="Mike" style="width: 100%" />
              <div class="container">
                <h2>Henri Laquar</h2>
                <p class="title">BackEnd & Data Base</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
