<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <meta
      name="viewport"
      content="width=devicewidth, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navigationWrapper">
      <div class="logoWrapper">
        <span class="stylish">WEATHER</span>
        <a href="/Index">
          <span class="logo">Closet</span>
        </a>
      </div>
      <div class="navigation">
        <li class="listitem"><a class="a" href="/Gallery">Gallery</a></li>
        <li class="listitem"><a class="a" href="/About">About</a></li>
      </div>
    </nav>
    <h1>About Us</h1>

    <div class="profile">
      <img src="assets/Luffy.png" alt="Henry's Profile Picture" />
      <h2>Henry</h2>
      <p>
        Henry is a passionate individual who loves exploring the world and
        trying out new adventures. He enjoys hiking, photography, and coding.
        Henry is always up for a good cup of coffee and a conversation about
        technology.
      </p>
    </div>

    <div class="profile">
      <img src="assets/Kofu.png" alt="Theresa's Profile Picture" />
      <h2>Theresa</h2>
      <p>
        Theresa is a creative thinker with a love for art and design. She enjoys
        painting, drawing, and bringing her imagination to life through her
        work. In her free time, you can find Theresa at the local art gallery or
        exploring new art exhibits.
      </p>
    </div>
  </body>
</html>
