<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <nav class="navigationWrapper">
      <div class="logoWrapper">
        <span class="stylish">WEATHER</span>
        <a href="/Index">
          <span class="logo">Closet</span>
        </a>
      </div>
      <div class="navigation">
        <li class="listitem"><a class="a" href="/Gallery">Gallery</a></li>
        <li class="listitem"><a class="a" href="/About">About</a></li>
      </div>
    </nav>
    <div class="container">
      <h1>Image Gallery</h1>
    </div>
  </body>
</html>
