body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Helvetica, sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, cornflowerblue, rgb(1, 20, 55));

  /*
  background-image: url("Frontend/public/asset/weatherui/background2.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  */
}

html {
  box-sizing: border-box;
}
.ourteam {
  color: whitesmoke;
  text-align: center;
}
.image {
  border-radius: 5px;
  width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.row {
  align-items: center;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  margin: 8px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.about-section {
  padding: 50px;
  text-align: center;

  background-size: cover;
  color: whitesmoke;
}

.container {
  padding: 0 10px;
  margin: 10%;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
  align-items: center;
}

.title {
  color: grey;
}
.button-container {
  text-align: center;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(1, 20, 55);
  text-align: center;
  cursor: pointer;
  width: 80%;
  border-radius: 3%;
  margin: 0 auto;
}

.button:hover {
  background-color: rgba(1, 20, 55, 0.693);
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

a:link {
  color: cornflowerblue; /* Default link color */
  text-decoration: none; /* Remove underline */
}

a:visited {
  color: cornflowerblue; /* Color for visited links */
}
.navigationWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
  height: 50px;

  .logoWrapper {
    display: flex;

    .stylish {
      font-weight: bold;
    }

    .logo {
      padding-left: 4px;
      color: cornflowerblue;
    }
  }

  .navigation {
    display: flex;
    list-style: none;

    .listitem {
      margin-left: 20px;
      opacity: 1;
      display: inline-block;
      list-style: none;
      color: white;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }
  }
}
